body{
    text-align: center;
    background-image: radial-gradient(white,black);
}
h1{
    color: aliceblue;
}
header{
    background-color: black;
    
    padding: 20px;
}
 ul li{
    display: inline;
   
    padding: 30px;
}
ul li a{
    color:bisque;
    text-decoration: none;
}
#home img{
    height:200px;
    width:200px;
    border-radius: 50%;
}
footer{
    background-color:aqua;
    height:20px;
}
#Portfolio{
    background-color:gray;
}
li{
    display:inline;
    margin-right: 20px;
}